		<div class="bn-view-container-wm">
			
			<div class="view-dashboard" style="padding-top:0px;">
					
				<div class="bn-dashboard-logo">
					<img src="img/v2/bn-logo.jpg" width="150">
				</div>
				
				<div class="bn-dashboard-btn">
					<img src="img/v2/btn-game.jpg" width="250"   onClick="window.location = '#gameinfo';">
				</div>

				<div class="bn-dashboard-btn">
					<img src="img/v2/btn-challenge.jpg"  onClick="window.location = '#dashboard-profile';" width="250">
				</div>
				
				<div class="bn-dashboard-btn">
					<img src="img/v2/btn-msg.jpg" width="250"   onClick="window.location = '#messages';">
				</div>
				
			</div>
			
		</div>