		<div id="sidr">
		  <ul>
			  
			  <li><a class="smooth" href="#dashboard">Dashboard</a></li>
			  <li><a class="smooth" href="#weeklychallenge">Weekly Challenge</a></li>
			  <li><a class="smooth" href="#guidelines">Guidelines</a></li>
			  <li><a class="smooth" href="#tribe">Tribe</a></li>
			  <li><a class="smooth" href="#messages">Messages</a></li>
			  <li><a class="smooth" href="#notifications">Notifications</a></li>
			  <li><a class="smooth" href="#subscriptionstatus">Subscription</a></li>
			  <!-- <li><a class="smooth" href="#profile">My Profile</a></li> -->
			  <li><a class="smooth" href="#signout">Signout</a></li>
			  <li><a class="smooth" href="javascript:void(0);" onClick="jQuery.sidr('close');" style="font-size:12px;text-align:center;"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Close Menu</a></li>
		  </ul>
		</div>	
		<div id="side-menu-container" class="side-menu-container" style="display:none;">
			<div style="width:320px;margin-left:auto;margin-right:auto;">
				<div  id="side-menu-link" href="#sidr" class="side-menu-button"></div>
				<div  id="side-menu-text" href="#sidr" class="side-menu-caption">{{menuTitle}}</div>
				<div  id="side-menu-back" href="#sidr" class="side-menu-back-button"><a class="smooth" id='side-menu-back-button' href="#dashboard" style="color:white;text-decoration:none;"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Back</a></div>
			</div>
		</div>

		<!-- Uploading Screen -->
		<div class="loading-screen-main" id='uploading-screen' style="display:none;">
			<img  class="loading-screen-main-img" src="img/loading1.gif">
			<div  class="loading-screen-main-caption">UPLOADING</div>
		</div>
		
		<!-- Loading Screen -->
		<div class="loading-screen-main" id='loading-screen' style="display:none;">
			<img  class="loading-screen-main-img" src="img/loading1.gif">
		</div>