<div class="view-container-wm">

	<div class="guidelines-container">
		

		
		<h1 style="text-align:center;">Welcome to Breaking Normal App!</h1>
		<p>
		Please watch the videos below before you get started with this app.		
		</p>
		
		<h2 style="padding-right:20px;padding-left:20px;">Introduction</h2>
		<div class="guidelines-container-video">
			<video src="http://nad.as/tdo/data/guideline-videos/new-g1.mp4" poster="http://nad.as/tdo/data/guideline-videos/new-g1.png" controls="true"></video>
		</div>
		
		<h2 style="padding-right:20px;padding-left:20px;">How to play the game?</h2>
		<div class="guidelines-container-video">
			<video src="http://nad.as/tdo/data/guideline-videos/new-g2.mp4" poster="http://nad.as/tdo/data/guideline-videos/new-g2.png" controls="true"></video>
		</div>
		
		<h2 style="padding-right:20px;padding-left:20px;">The Academy / Weekly challenge</h2>
		<div class="guidelines-container-video">
			<video src="http://nad.as/tdo/data/guideline-videos/new-g3.mp4"  poster="http://nad.as/tdo/data/guideline-videos/new-g3.png" controls="true"></video>
		</div>
		
		<button ng-if="firstTimeUse==1" class='button-guideline-step' ng-click="gotoDashboard();">Start Your Free 11 Days Trial</button>
		<button ng-if="firstTimeUse!=1" class='button-guideline-step' ng-click="gotoDashboard();">Get Started</button>
		
		<BR/>
	
	</div>
	

</div>