<div class="view-container-wm">

	<div class="guidelines-container">
		
		<div class="guidelines-container-video">
			<video src="http://nad.as/tdo/data/guideline-videos/guideline2.mp4" controls="true"></video>
		</div>
		
		<h1>Step # 2</h1>
		<p>
The second guideline is to remain present. This moment, right now, is all that exists—the rest is imagination. Most of our worries come not from the present, but from things we imagine might happen in the future, based on rumors and past experience. Wherever you are, be there. Give yourself and others the gift of presence. When someone is talking, listen as if immediately after you had to teach someone else what that person said. Listen to what they’re saying without thinking about what you’re going to say in response, or what you’re going to do an hour or a week from now. Listen not only to what is being said, but to what is not being said. Feel the sensations in your body as you listen. "I agree to be present."
		</p>
		
		<button class='button-guideline-step' ng-click="gotoStep(1);">< Prev Step</button>
		<button class='button-guideline-step' ng-click="gotoStep(3);">Next Step ></button>
		<BR/>
	
	</div>
	

</div>