<div class="view-container-wm">

	<div class="guidelines-container">
		

		
		<h1 style="text-align:center;">Welcome to Breaking Normal App!</h1>
		<p>
		Please watch the video below before you get started with this app.		
		</p>
		
		<div class="guidelines-container-video">
			<video src="http://nad.as/tdo/data/guideline-videos/new-g1.mp4" poster="http://nad.as/tdo/data/guideline-videos/new-g1.png" controls="true"></video>
		</div>
		
		
		<button class='button-guideline-step' ng-click="gotoDashboard();">Start Your Free 11 Days Trial</button>
		
		<BR/>
	
	</div>
	

</div>